{% include "programs/header.html" %}
  <h1>{{ course.name }}</h1>
  <h2><a href="{% url 'institution_detail' course.institution.id %}">{{course.institution}}</a></h2>
    <div class="panel panel-default">
      {% for instructor in course.instructor_set.all %}
        <div class="panel-heading">Instructor: {{ instructor.name }}</a></div>
          <div class="panel-body">
            Level: {{course.get_level_display}}
          </div>
      {% endfor %}
    </div>

{% include "programs/footer.html" %}
