{% include "programs/header.html" %}
  <h1>ALPhA Program Database</h1>
  <div class="panel panel-default">
    <div class="panel-heading">Institutions</div>
    <div class="panel-body">
      {% if institution_list %}
      <div class=".col-md-4">
      <table class="table">
        <thead><td>Institution</td><td>Average graduates</td><td>State</td></thead>
        {% for institution in institution_list %}
          <tr><td><a href="{% url 'institution_detail' institution.id %}">{{institution.name}}</a></td>
          <td>{{institution.avg_grads}}</td>
          <td>{{institution.state}}</td>
        {% endfor %}
      </table>
    </div>
      {% else %}
        <p>No institutions to show.</p>
      {% endif %}
    </div>
  </div>

{% include "programs/footer.html" %}
