{% include "programs/header.html" %}

  <div class="row">
    <div class="col-md-8">
      <h1>{{ institution.name }} <small>{{institution.state}}, {{institution.zipcode}}</small></h1>
    </div>
    <div class="col-md-4">
      <a type="button" class="btn btn-default" href="{% url 'instructor_add' institution.id %}">Add Instructor</a>
      <a type="button" class="btn btn-default" href="{% url 'course_add' institution.id %}">Add Course</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">

      <div class="panel panel-default">
        {% for instructor in institution.instructor_set.all %}
          <div class="panel-heading">
            <div class="col-md-3">
              <a href="mailto:{{instructor.email}}">{{ instructor.name }}</a>
            </div>
            <a type="button" class="btn btn-default" href="{% url 'instructor_detail' instructor.id %}">Details</a>
            <a type="button" class="btn btn-warning" href="{% url 'instructor_update' instructor.id %}">Update</a>
            <a type="button" class="btn btn-danger" href="{% url 'instructor_delete' instructor.id %}">Delete</a>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              {% for course in instructor.courses.all %}
                <tr><td><a href="{% url 'course_detail' course.id %}">{{ course.name }}</a></td>
                  <td>{{ course.get_level_display }}</td><td><a href="{% url 'course_delete' course.id %}">Delete</a></td></tr>
              {% endfor %}
            </table>
          </div>
        {% endfor %}
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">All classes:</div>
        <!-- TODO, make this filter only orphan classes -->
        <div class="panel-body">
          <table class="table table-striped">
            {% for course in institution.course_set.all %}
            <tr><td><a href="{% url 'course_detail' course.id %}">{{ course.name }}</a></td>
              <td>{{ course.get_level_display }}</td><td>Delete</td></tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h2>Stats</h2>
      <table class="table">
        <thead><td>Year</td><td>Graduates</td></thead>
        {% for rate in institution.gradrate_set.all %}
          <tr><td>{{rate.year}}</td><td>{{rate.count}}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% include "programs/footer.html" %}
