{% include "programs/header.html" %}
  <h1>Program search results</h1>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">Institutions</div>
      <div class="panel-body">
        {% if institution_list %}
        <table class="table table-striped">
          <thead><td>Institution</td><td>Average graduates</td><td>State</td></thead>
          {% for institution in institution_list %}
            <tr><td><a href="{% url 'institution_detail' institution.id %}">{{institution.name}}</a></td>
            <td>{{institution.avg_grads}}</td>
            <td>{{institution.state}}</td>
          {% endfor %}
        </table>
        {% else %}
          <p>No institutions to show.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% include "programs/footer.html" %}
